.game{
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;
    font-weight: 500;
}

.title{
    background-color: rgb(180, 157, 216);
    padding: 5px 0;
    margin: 5px 0;
}

span{
    color: aqua;
}

.square{
    width: 80px;
    height: 80px;
    background-color: rgb(219, 106, 205);
    float: left;
    margin: 2px;
    font-size: 50px;
}